---
layout: default
title: Blogs - Explaining Blockchain, React, ES6 and what not.
permalink: /blogs/
---

{% include masthead.html %}

{% assign portfolios = site.posts | where: "layout" , "blog" %}
<div class="ui equal width stackable two column grid">
  {% for page in portfolios %}
  {% assign meta = page.meta | prepend: "/assets/img/blog/" |  prepend: site.baseurl %}
  {% assign text = page.title | replace: ' ', '+' %}
  {% if page.meta == null %}
  {% assign meta = "http://placehold.it/400x200/009c95/ffffff?text=" | append: text %}
  {% endif %}
  {% capture loop_index %}{{ loop_index | plus:1 }}{% endcapture %}

        <div class="column eight wide">
          <a href="{{page.url}}" title="{{page.title}}"><img src="{{ meta }}" alt="{{page.title}}" class="ui image fluid"></a>
          <h2 class="ui header large">
            {{page.title}}
            <div class="sub header">{{page.excerpt | truncatewords: 40}}</div>
          </h2>
          <a href="{{page.url}}" title="{{page.title}}" class="ui black button">Read More...</a>

        </div>

  {% endfor %}
</div>
