---
layout: default
permalink: /about/contact
title: Contact Us
---

<h1>Contact Us</h1>

<h2>We will get back to you within 7 Hrs. Effective communication is our goal in every aspect of our business.</h2>
<div class="ui divider big hidden"></div>
<div class="ui grid text">
  <div class="eight wide column">
    {% include contact-detail.html %}
    {% include social.html %}
  </div>
  <div class="eight wide column">
    <a href="{{site.gplus}}" target="_blank"><img src="/assets/img/lightrains-contact-us.png" alt="{{ site.title }} - {{ page.title}}" class="ui image fluid"></a>
  </div>
</div>
<div class="ui divider big hidden"></div>
