<div class="ui hidden big divider"></div>
<div class="ui internally celled stackable grid">
  <div class="row">
    <div class="eight wide column centered">
      <h3>We Train</h3>
      <p>Blockchain technologies are a very unique concept, difficult to understand. We provide all levels of training, business and technical, with a focus on what blockchains could change for your company around real life use-cases</p>
    </div>
    <div class="eight wide column centered">
      <h3>We Build</h3>
      <p>From the ideation process to full product development, software and hardware, our team has specialized experience in building secure and reliable products</p>
    </div>
  </div>
  <div class="row">
    <div class="eight wide column centered">
      <h3>We Research</h3>
      <p>We can help you study new concepts around blockchains, analyze the security of your application or research new types of blockchains. We also dedicate time on public-domain research, improving Bitcoin and blockchains for the benefit of all</p>
    </div>
    <div class="eight wide column centered">
      <h3>We Advise</h3>
      <p>As with all new concepts, advisory services are an absolute necessity to avoid pitfalls. Blockchains are not the solution for every problem, we can help you find the right fit for your needs</p>
    </div>
  </div>
  <div class="row">
    <div class="column centered">
      <h3>We do Consulting & Development for:-</h3>

      <a href="/consulting/blockchain-consulting" class="ui button big black" title="Blockchain Consulting & Development">Blockchain</a>
      <a href="/consulting/es6-javascript-development" class="ui button big black" title="JavaScript Consulting & Development">JavaScript</a>
    </div>
  </div>
</div>
<div class="ui hidden big divider"></div>
