<div itemscope itemtype="http://schema.org/Organization">
  <a itemprop="url" href="https://lightrains.com"><div itemprop="name"><strong>{{ site.title }}</strong></div>
  </a>
  <img src="{{ site.url |  | append: site.logo}}" itemprop="image" class="ohidden" alt="{{ site.title }}"/>
  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">G3B, Thejaswini</span><br>
    <span itemprop="postOfficeBoxNumber">Technopark Campus</span><br>
    <span itemprop="addressLocality">Trivandrum</span><br>
    <span itemprop="addressRegion">Kerala</span> -
    <span itemprop="postalCode">695581</span><br>
    <span itemprop="addressCountry">India</span><br><br>
    <i class="send outline icon"></i>{% include email.html param="link" variable-param=page.variable %}<br>
    <i class="call icon"></i><a itemprop="telephone" href="tel:+{{ site.phone | escape | remove: " " }}">{{ site.phone }}</a>
  </div>
</div>
