{% if page.url == "/" %}
<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui inverted divided equal height stackable grid">
      <div class="two wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link relaxed list">
          <a class="item" title="About {{site.title}}" href="/about/lightrains">About Us</a>
          <a class="item" title="Careers at {{site.title}}" href="/about/careers">Careers</a>
          <a class="item" title="Contact {{site.title}}" href="/about/contact">Contact</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Services</h4>
        <div class="ui inverted link relaxed list">
          <!-- <a class="item" href="/about/technology">Technology</a> -->
          <a class="item" title="Smart Contract Development" href="/consulting/smart-contract-solidity">Smart Contract Development</a>
          <a class="item" href="/about/portfolio">Portfolio</a>
          <a class="item" title="Blockchain Consulting" href="/consulting/blockchain-consulting">Blockchain Consulting</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Connect with us</h4>
        {% include homesocial.html %}
      </div>
    </div>
  </div>
  <div class="ui hidden divider"></div>
  <div class="ui container">
    {% include contact.html %}
  </div>
</div>
{% else %}
  <div class="ui container">
    <div class="ui section divider"></div>
    {% include contact.html %}
  </div>
{% endif %}
