<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif
  %}</title>

  <title>{% if page.title %}{{ page.title | append: " &#226;&#353;&#161; " | append: site.title |
  escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{meta}}">
  <link rel="amphtml" href=
  "{{%20page.url%20|%20prepend:%20'/amp'%20|%20prepend:%20site.baseurl%20|%20prepend:%20site.url%20|%20append:%20'/index.html'%20}}">
  <link href=
  "//fonts.googleapis.com/css?family=Merriweather+Sans:400,700|Merriweather:400&amp;subset=latin"
  rel="stylesheet" type="text/css">
  <link href="{{" prepend:="" site.baseurl="" rel="stylesheet" type="text/css">
  <link href="{{" prepend:="" site.baseurl="" rel="stylesheet" type="text/css">
  <link href="{{" prepend:="" site.baseurl="" rel="stylesheet" type="text/css">
  <meta http-equiv="refresh" content="3; url=/">
  <link rel="canonical" href=
  "{{%20page.url%20|%20replace:'index.html',''%20|%20prepend:%20site.baseurl%20|%20prepend:%20site.url%20}}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{" prepend:=""
  site.baseurl="" prepend:="" site.url="">
</head>

<body>
  {% if page.layout == 'blog' %} {% else%} {% endif %} {% if page.content %} {% assign meta =
  page.content | strip_html | strip_newlines | strip | truncate: 160, "" | slugify | replace: "-",
  " " | capitalize %} {% else %} {% assign meta = site.masthead | strip | truncate: 160, "" %} {%
  endif %} {% if page.url == "/" %} {% assign meta = site.masthead | prepend: "Blockchain
  Consulting &amp; Development. " | strip | truncate: 160, "" %} {% endif %} {% if page.url ==
  "/about/portfolio" %} {% elsif page.layout == "work" %} {% else %} {% endif %} {% if page.url ==
  "/404.html" %} {% endif %} {% if page.layout == 'blog' %} {% include meta-og-schema.html %} {%
  endif %} {% include favicons.html %}
</body>
</html>
