<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.title %}
    {% assign pageTitle = page.title %}
  {% else %}
    {% assign pageTitle = site.title %}
  {% endif %}

  {% if page.permalink != 'index.html' %}
    {% assign pageTitle = page.title | append: ' ⚡️ ' | append: site.title%}
  {% endif %}

  {% if page.grouptype == 'tag' %}
    {% assign pageTitle = page.tag | append: " Articles" %}
  {% elsif page.grouptype == 'category' %}
    {% assign pageTitle = page.category | append: " Articles" %}
  {% endif %}

  {% if page.url == '/' %}
    {% assign pageTitle = site.title %}
  {% endif %}

  {% if page.layout == 'blog' %}
    {% assign pageTitle = page.title %}
  {% endif %}

  <title>{{ pageTitle | trim }}</title>

  {% if page.content %}
    {% assign meta =  page.content | strip_html | strip_newlines | strip %}
  {% else %}
    {% assign meta = site.masthead %}
  {% endif %}

  {% if page.url == "/" %}
    {% assign meta = site.masthead | prepend: "Blockchain Consulting & Development. " | strip %}
  {% endif %}

  {% if page.excerpt %}
    {% assign meta =  page.excerpt | strip_html | strip_newlines | strip %}
  {% else %}
    {% assign meta = page.content | strip_html | strip_newlines | strip %}
  {% endif %}

  {% assign cleanMeta = meta | slugify | replace: "-", " " | capitalize | truncate: 160, "" %}
  <meta name="description" content="{{ cleanMeta }}">

  <link href="//fonts.googleapis.com/css?family=Merriweather+Sans:400|Merriweather:400&subset=latin" rel="stylesheet">

  {% if page.url == "/about/portfolio" %}
  <link href="{{ "/assets/css/bundle-work.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  {% elsif page.layout == "work" %}
  <link href="{{ "/assets/css/bundle-work-lightbox.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  {% else %}
  <link href="{{ "/assets/css/bundle-front.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  {% endif %}


  {% if page.url == "/404.html" %}
  <meta http-equiv="refresh" content="3; url=/">
  {% endif %}


  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="amphtml" href="{{ page.permalink | prepend: '/amp' | prepend: site.baseurl | prepend: site.url }}">

  {% include favicons.html %}
</head>
