<header class="site-header">
    <div class="ui secondary pointing menu">
      <div class="left menu">
        <a href="/"><img src="/assets/img/logo-1.svg" width="100" alt="" data-content="{{site.title}} - {{site.slogan}}" data-variation="inverted very wide" data-position="right center" alt="{{site.title}} - {{site.slogan}}" ></a>
      </div>
      <div class="right menu" id="menu">
        <a class="item" href="/about/lightrains">About Us</a>
        <div class="ui dropdown item">
          Company<i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="/about/careers">Careers</a>
            <a class="item" href="/about/team">Team</a>
            <a class="item" href="/about/technology">Technology</a>
            <div class="ui dropdown item">
              Consulting<i class="dropdown icon"></i>
              <div class="menu">
                <a class="item" href="/consulting/blockchain-consulting">Blockchain</a>
                <a class="item" href="/consulting/drupal-consulting-development">Drupal</a>
                <a class="item" href="/consulting/es6-javascript-development">ES6</a>
              </div>
            </div>
          </div>
        </div>
        <a class="item" href="/about/portfolio">Work</a>
        <a class="item" href="/blogs">Blog</a>
        <a class="item" href="/about/contact">Contact</a>
      </div>
    </div>
</header>
