<header class="site-header">
  <div class="ui secondary pointing menu">
    <div class="left menu">
      <a class="item" href="/">lightrainstech</a>
    </div>
    <div class="right menu">
      <a class="item" href="{% post_url 2016-06-13-about-us %}">About Us</a>
      <div class="ui dropdown icon item">
        About <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="/about/portfolio">Portfolio</a>
          <a class="item" href="/about/team">Team</a>
          <a class="item">Team</a>
        </div>
      </div>
      <a class="item" href="/about/portfolio">Work</a>
      <a class="item" href="/about/team">Team</a>
      <a class="item" href="/blogs">Blog</a>
      <a class="item" href="/about/contact">Contact Us</a>
    </div>
  </div>
</header>
