<div class="ui horizontal list centered social">
  <a class="item" target="_blank" href="https://github.com/lightrainstech"><i class="github outline icon large inverted bordered"></i></a>
  <a class="item" target="_blank" href="https://twitter.com/lightrainstech"><i class="twitter outline icon large inverted bordered"></i></a>
  <a class="item" target="_blank" rel="publisher" href="https://plus.google.com/108900746872278115127"><i class="google plus outline icon large inverted bordered"></i></a>
  <a class="item" target="_blank" href="https://www.linkedin.com/company/1322794"><i class="linkedin outline icon large inverted bordered"></i></a>
  <a class="item" target="_blank" href="https://plus.google.com/108900746872278115127"><i class="marker outline icon large inverted bordered"></i></a>
  <a class="item" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"><i class="rss outline icon large inverted bordered"></i></a>
</div>
