<div class="ui vertical stripe segment">
  <div class="ui container">
    <div class="ui centered stackable grid">
      <div class="thirteen wide center aligned column">
        <div class="at-grid" data-column="3">
          <div class="at-column">
            <div class="at-user">
              <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/ok/128.jpg"/></div>
              <div class="at-user__name">Nikhil Mohan</div>
              <div class="at-user__title">Blockchain Consultant</div>
              <div class="at-user__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quam nemo in, rerum veniam harum aliquid alias explicabo ullam esse repellat exercitationem quisquam libero doloribus, dolores eaque cum similique. Minima.</div>
            </div>
          </div>
          <div class="at-column">
            <div class="at-user">
              <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg"/></div>
              <div class="at-user__name">Jikku Jose</div>
              <div class="at-user__title">Blockchain Consultant</div>
            </div>
          </div>
          <div class="at-column">
            <div class="at-user">
              <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/marcogomes/128.jpg"/></div>
              <div class="at-user__name">Krishna Srivastava</div>
              <div class="at-user__title">Business Analyst</div>
            </div>
          </div>
          <div class="at-column">
            <div class="at-user">
              <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg"/></div>
              <div class="at-user__name">Sibiraj P.R.</div>
              <div class="at-user__title">Smart Contract specialist</div>
            </div>
          </div>
          <div class="at-column">
            <div class="at-user">
              <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg"/></div>
              <div class="at-user__name">Santhosh Raju</div>
              <div class="at-user__title">Crypto Specialist</div>
            </div>
          </div>
          <div class="at-column">
            <div class="at-user">
              <div class="at-user__avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/tonychester/128.jpg"/></div>
              <div class="at-user__name">Darryl Morris</div>
              <div class="at-user__title">Blockchain Consultant</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
