<div class="ui hidden divider"></div>
<div class="ui container">
  <div class="ui cards">
    <div class="ui raised card">
      <div class="content">
        <div class="header">Technical Support</div>

        <div class="description">
<div class="ui divst">
<div class='item'>Smart Contract</div>
<div class='item'>Smart Contract Management System</div>
<div class='item'>Book Building Platform</div>
<div class='item'>Landing Page Structure</div>
<div class='item'>Consulting (5-8 hrs)</div>
</div>
        </div>
      </div>
    </div>
  </div>
</div>
