<div class="ui vertical stripe segment icopricing">
  <div class="ui container">
    <div class="ui centered stackable grid">
      <div class="thirteen wide center aligned column">
        <h2>Pricing</h2>
        <div class="ui hidden divider"></div>
        <div class="ui equal width stackable grid">
          <div class="column">
            <div class="ui pcard">
              <i class="huge snowflake quarter icon"></i>
              <h3 class="cost">10 BTC</h3>
              <h4>Technology</h4>
            </div>
          </div>
          <div class="column">
            <div class="ui pcard">
              <i class="huge shower half icon"></i>
              <h3 class="cost">20 BTC</h3>
              <h4>Technology</h4>
              <h4>Legal</h4>
            </div>
          </div>
          <div class="column">
            <div class="ui pcard">
              <i class="huge bathtub full icon"></i>
              <h3 class="cost">40 BTC</h3>
              <h4>Technology</h4>
              <h4>Legal</h4>
              <h4>Marketing</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row centered">
      <div class="center aligned ten wide column">
        <a href="mailto:ixco@ligxhtraxxins.com" class="ui huge black button obsa">ico@lxightxraxins.com</a>
      </div>
    </div>

  </div>
</div>
