<div class="ui vertical stripe team segment">
  <div class="ui container">
    <ul class="responsive_grid">
      <li>
        <div class="team_member">
          <div class="info">
            <img src="http://www.placecage.com/g/300/300" alt=""/>
            <h5>Stanley Goodspeed</h5>
            <h6>Director of Chemical Weaponry</h6>
          </div>
          <div class="info_reveal">
            <h6>Contact<br/>Stanley Goodspeed</h6>
            <p>(123) 555-1234 x1100</p>
          </div>
        </div>
      </li>
      <li>
        <div class="team_member">
          <div class="info">
            <img src="http://www.placecage.com/g/300/300" alt=""/>
            <h5>Stanley Goodspeed</h5>
            <h6>Director of Chemical Weaponry</h6>
          </div>
          <div class="info_reveal">
            <h6>Contact<br/>Stanley Goodspeed</h6>
            <p>(123) 555-1234 x1100</p>
          </div>
        </div>
      </li>

      <li>
        <div class="team_member">
          <div class="info">
            <img src="http://www.placecage.com/g/300/300" alt=""/>
            <h5>Stanley Goodspeed</h5>
            <h6>Director of Chemical Weaponry</h6>
          </div>
          <div class="info_reveal">
            <h6>Contact<br/>Stanley Goodspeed</h6>
            <p>(123) 555-1234 x1100</p>
          </div>
        </div>
      </li>
      <li>
        <div class="team_member">
          <div class="info">
            <img src="http://www.placecage.com/g/300/300" alt=""/>
            <h5>Stanley Goodspeed</h5>
            <h6>Director of Chemical Weaponry</h6>
          </div>
          <div class="info_reveal">
            <h6>Contact<br/>Stanley Goodspeed</h6>
            <p>(123) 555-1234 x1100</p>
          </div>
        </div>
      </li>

      <li>
        <div class="team_member">
          <div class="info">
            <img src="http://www.placecage.com/g/300/300" alt=""/>
            <h5>Stanley Goodspeed</h5>
            <h6>Director of Chemical Weaponry</h6>
          </div>
          <div class="info_reveal">
            <h6>Contact<br/>Stanley Goodspeed</h6>
            <p>(123) 555-1234 x1100</p>
          </div>
        </div>
      </li>
      <li>
        <div class="team_member">
          <div class="info">
            <img src="http://www.placecage.com/g/300/300" alt=""/>
            <h5>Stanley Goodspeed</h5>
            <h6>Director of Chemical Weaponry</h6>
          </div>
          <div class="info_reveal">
            <h6>Contact<br/>Stanley Goodspeed</h6>
            <p>(123) 555-1234 x1100</p>
          </div>
        </div>
      </li>

      <li>
        <div class="team_member">
          <div class="info">
            <img src="http://www.placecage.com/g/300/300" alt=""/>
            <h5>Stanley Goodspeed</h5>
            <h6>Director of Chemical Weaponry</h6>
          </div>
          <div class="info_reveal">
            <h6>Contact<br/>Stanley Goodspeed</h6>
            <p>(123) 555-1234 x1100</p>
          </div>
        </div>
      </li>
      <li>
        <div class="team_member">
          <div class="info">
            <img src="http://www.placecage.com/g/300/300" alt=""/>
            <h5>Stanley Goodspeed</h5>
            <h6>Director of Chemical Weaponry</h6>
          </div>
          <div class="info_reveal">
            <h6>Contact<br/>Stanley Goodspeed</h6>
            <p>(123) 555-1234 x1100</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
