<div class="masthead">
  <h1>{{site.masthead}}</h1>
  <h2>Solutions for businesses to approach <abbr title="Commercial transactions conducted electronically on the Internet.">commerce</abbr>, <abbr title="Buying and selling goods and services.">trading</abbr>, <abbr title="Sequence of processes involved in the production and distribution of a commodity">supply chain</abbr> and <abbr title="Identifying individuals in a system">identity management</abbr> through transparency and security powered by blockchain and smart contracts.</h2>
  <div class="ui hidden divider"></div>
  {% include email.html param="button" variable-param=page.variable %}
</div>
<div class="ui center aligned grid">
  <i class="caret down huge cuticon icon"></i>
</div>
