<div id="portfolios">
  {% assign portfolios = site.posts | where: "layout" , "work" %}
  <div id="filters">
    <a class="ui label large black" data-filter="*">Show All</a>
    {% for category in site.categories %}
    <a class="ui large label" data-filter=".{{ category | first | capitalize | replace: " ", "" }}">{{ category | first }}</a>
    {% endfor %}
  </div>
  <div class="ui hidden divider"></div>
  <div class="portfolio">
    {% for page in portfolios %}
    {% assign tags = page.categories | join: ", " | capitalize | replace: ",", "&nbsp;" | replace: " ", "" %}

    {% assign allTags = "" %}
    {% for tags in page.categories %}
      {% assign singleCategory = page.categories[forloop.index0] | capitalize | replace: " ", "" %}
      {% assign allTags = allTags | append: " " | append: singleCategory %}
    {% endfor %}


    <div class="work {{ allTags }}"  >
      <div class="overlay">
        <a href="{{page.url}}" class="white">
          <img class="ui image rounded link" src="{{page.images[0] | prepend: "/assets/img/work/460/" | prepend: site.baseurl }}" alt="{{page.title}}">
          <div class="ui bottom right attached black large label"> {{page.title}}</div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="ui hidden divider"></div>
</div>


<!-- <div class="element-item card {{ page.categories[0] | downcase | replace: " ", "" }}" data-category="{{ page.categories[0] | downcase | replace: " ", "" }}">
<div class="blurring dimmable image">
<div class="ui dimmer">
<div class="content">
<div class="center">
<a class="ui button" href="{{page.url}}">{{page.title}}</a>
</div>
</div>
</div>
<img class="ui image" src="{{page.images[0] | prepend: "/assets/img/work/460/" |  prepend: site.baseurl }}" alt="{{page.title}}">
</div>
</div> -->
