<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Lightrains Technolabs Pvt Ltd",
  "url" : "https://lightrains.com",
  "telephone": "+914714000056",
  "foundingDate": "2012-12-28",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Trivandrum",
    "addressRegion": "Kerala",
    "postalCode": "695581",
    "streetAddress": "G3B, Thejaswini, Technopark Campus"
  },
  "logo": "{{ site.logo | prepend:"/" | prepend: site.url }}",
  "sameAs" : {{ site.social | jsonify }}
}
</script>
