<div class="ui hidden divider"></div>
<div class="ui horizontal list centered">
  <a class="item" target="_blank" href="https://twitter.com/lightrainstech"><i class="twitter outline icon big"></i></a>
  <a class="item" target="_blank" href="https://www.facebook.com/lightrainstechnolabs"><i class="facebook outline icon big"></i></a>
  <a class="item" target="_blank" rel="publisher" href="https://plus.google.com/108900746872278115127"><i class="google plus outline icon big"></i></a>
  <a class="item" target="_blank" href="https://www.linkedin.com/company/1322794"><i class="linkedin outline icon big"></i></a>
  <a class="item" target="_blank" href="https://plus.google.com/108900746872278115127"><i class="location arrow  icon big"></i></a>
  <a class="item" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"><i class="rss outline icon big"></i></a>
</div>
