<div class="ui fluid container techs">
  <div class="ui container">
    <div class="ui equal width relaxed stackable grid">
      <div class="equal width row">
        <div class="column">
          <div class="ui header inverted">
            <i class="connectdevelop icon"></i>
            <div class="content">
              <h2>Blockchain Consulting</h2>
              <div class="sub header inverted">From ideation to real product, our team has real experience building software, scalable and secure. Btw, we only do blockchain related stuff.</div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui header inverted">
            <i class="terminal icon"></i>
            <div class="content">
              <h2>Blockchain Development</h2>
              <div class="sub header inverted">We architects, develops and <a href="consulting/blockchain-consulting">consults</a> on cutting-edge bitcoin, blockchain and crypto-currency projects. We also have access to one of the largest networks of bitcoin and blockchain professionals.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="equal width row">
        <div class="column"><div class="ui header inverted">
          <i class="puzzle icon"></i>
          <div class="content">
            <h2>Smart Contract Development</h2>
            <div class="sub header inverted">Implement smart contracts to automate enforcement in RootStock and Ethereum. We can write your smart contract code from the defintion. We help companies to make the best Smart Contract code.</div>
          </div>
        </div>
      </div>
        <div class="column"><div class="ui header inverted">
          <i class="bitcoin alternative icon"></i>
          <div class="content">
            <h2>Cryptocurrency & Payment Systems</h2>
            <div class="sub header inverted">Develop safe and reliable cryptocurrency exchanges. Accept cryptocurrencies and instantly convert them to your preferred currency or keep them in your wallet.</div>
          </div>
        </div>
      </div>
      </div>
      <div class="equal width row">
        <div class="column"><div class="ui header inverted">
          <i class="shopping bag icon"></i>
          <div class="content">
            <h2>Decentralised Marketplace</h2>
            <div class="sub header inverted">Without a central physical location, where market participants trade with one another through various communication modes such as the telephone, email and proprietary electronic trading systems.</div>
          </div>
        </div>
      </div>
        <div class="column"><div class="ui header inverted">
          <i class="idea icon"></i>
          <div class="content">
            <h2>Blockchain Intelligence</h2>
            <div class="sub header inverted">Financial exchange users expect best-in-class performance. Our partners are well versed in how to streamline the data into something meaningful.</div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
