<div class="ui container">
  <div class="ui hidden divider"></div>
  <h2>Our technology stack</h2>
  <div class="ui section divider"></div>
  <h3>We love to work with bleeding edge  <a href="/about/technology">technology</a>,</h3>
  <div class="ui section divider"></div>
  <div class="ui equal width stackable grid">
    <div class="column">
      <h2 class="ui header">
        <div class="content">
          Blockchain
          <div class="sub header inverted">During the last two years in <b>blockchin</b> we have worked in many platforms including and not limited to Bitcoin, Ethereum, Lisk, Hyperledger and Synereo.</div>
        </div>
      </h2>
    </div>
    <div class="column">
      <h2 class="ui header">
        <div class="content">
          Decentralized Storage
          <div class="sub header inverted">Expertise in <b>IPFS</b> peer-to-peer hypermedia protocol to make the web faster, safer, and more open. IPFS provides resilient access to data, independent of low latency or connectivity to the backbone.</div>
        </div>
      </h2>
    </div>
    <div class="column">
      <h2 class="ui header">
        <div class="content">
          Future Tech Stack
          <div class="sub header inverted">Concurrency is full of traps. Elixir(OTP) is the best battle tested and robust concurrency framework in history. We use Elixir, Elm, ES2015 in production.</div>
        </div>
      </h2>
    </div>
  </div>
</div>
