---
layout: default
title: Blogs - Explaining Blockchain, React, ES6 and what not.
---

{% include masthead.html %}

<div class="ui equal width stackable two column grid">

  {% for page in paginator.posts %}

  {% assign meta = page.meta | prepend: "/assets/img/blog/" |  prepend: site.baseurl %}
  {% assign text = page.title | replace: ' ', '+' %}
  {% if page.meta == null %}
  {% assign meta = "//placehold.it/400x200/009c95/ffffff?text=" | append: text %}
  {% endif %}
  {% capture loop_index %}{{ loop_index | plus:1 }}{% endcapture %}

  <div class="column eight wide">
    <a href="{{page.url}}" title="{{page.title}}"><img src="{{ meta }}" alt="{{page.title}}" class="ui image fluid"></a>

    <h2 class="ui header large">
      {{page.title}}
      <div class="sub header">{{page.excerpt | strip_html |  truncatewords: 40}}</div>
    </h2>

    <a href="{{page.url}}" title="{{page.title}}" class="ui black button">Read More...</a>

  </div>
  {% endfor %}
</div>

<div class="ui divider hidden big"></div>
<div class="ui divider hidden big"></div>

<div class="ui grid">
  <div class="eight wide column">
    <div class="pagination">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="ui left small labeled icon floated button"><i class="left arrow icon"></i>Previous</a>
      {% else %}
      <span class="ui left small labeled icon floated button"><i class="left arrow icon"></i>Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="ui right floated right labeled icon small button">Next<i class="right arrow icon"></i></a>
      {% else %}
      <span class="ui right floated right labeled icon small button">Next<i class="right arrow icon"></i></span>
      {% endif %}
    </div>
  </div>
</div>
