<!doctype html>
<html amp lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="canonical" href="{{ page.canonical_url | prepend: site.baseurl | prepend: site.url }}" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  {% include amp-css.html %}
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  {% include schema.html %}
  {% include schema-amp.html %}
</head>
<body>
  {% capture header %}{% include head.html %}{% endcapture %}
  {% include amp-menu.html %}
  <h1 class="post-title ui header huge" itemprop="name headline" title="{{ page.title }}">{{ page.title }}</h1>

  <amp-img
  src="/assets/img/blog/{{ page.meta }}"
  alt="{{ page.title }}" height="216" width="360" on="tap:headline-img-lightbox"
  layout="responsive" role="img" tabindex="0"
  ></amp-img>

  <div class="content">
    <span class="timespan">
      {{ page.date | date: "%a, %b %d, %y" }}
    </span>
    {{ page.body | markdownify | amp_images }}
    <a href="{{ page.canonical_url | prepend: site.url }}" title="{{ page.title }}" class="nonamp">Full Version of {{ page.title }}</a>
  </div>
  {{ footer | amp_images: false, 24, 24 }}
  <div class="related ui segment">
    <h3>Related Posts</h3>
    <ul class="ui list">
      {% assign siteBlogs = site.posts | where:'layout', 'blog' %}
      {% for post in siteBlogs limit:4 %}
      <li><a href="{{ post.url | prepend: '/amp' | append:"/index.html" }}" title="{{ post.title }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>
