---
layout: compress
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-{{page.layout}}" class="page page-{{page.layout}} path-{{page.class | default: 'inner'}}">
  <div class="ui top big sidebar vertical menu">
    <a class="item" href="/">
      <i class="large home icon"></i>
      Home
    </a>
    <a class="item" href="/about/lightrains">
      <i class="large smile icon"></i>
      About Us
    </a>
    <a class="item" href="/about/careers">
      <i class="large code icon"></i>
      Careers
    </a>
    <a class="item" href="/about/portfolio">
      <i class="large shipping icon"></i>
      Portfolio
    </a>
    <a class="item" href="/consulting">
      <i class="large spy icon"></i>
      Consulting
    </a>
    <a class="item" href="/blogs">
      <i class="large block layout icon"></i>
      Blog
    </a>
    <a class="item" href="/about/contact">
      <i class="large send icon"></i>
      Contact
    </a>
  </div>

  <div class="pusher">
    <div class="ui container">
      {% include header.html %}
    </div>
    <div class="ui container">
      {{ content }}
    </div>
    {% if page.url == "/" %}
      {% include technologies.html %}
      {% include techstack.html %}
    {% endif %}
    <div class="fullw">
      <div class="ui container footer">
        {% include footer.html %}
      </div>
    </div>
  {% include analytics.html %}
  {% include scripts.html %}
</div>
</body>
</html>
