---
layout: compress
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body class="page page-{{page.layout}} path-{{page.class | default: 'inner'}}">
  <div class="ui inverted top sidebar vertical menu" style="">
    <a class="item" href="/">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item" href="/about/lightrains">
      <i class="smile icon"></i>
      About
    </a>
    <a class="item" href="/consulting">
      <i class="spy icon"></i>
      Expert
    </a>
    <a class="item" href="/blogs">
      <i class="block layout icon"></i>
      Blog
    </a>
    <a class="item" href="/about/contact">
      <i class="send icon"></i>
      Contact
    </a>
  </div>

  <div class="pusher">
    <div class="ui container">
      {% include header.html %}
    </div>
    <div class="ui container">
      {{ content }}
    </div>
    <div class="fullw mobile hidden">
      <div class="ui container footer">
        {% include footer.html %}
      </div>
    </div>
  {% include analytics.html %}
  {% include scripts.html %}
</div>
</body>
</html>
