---
layout: default
---

<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
{% if page.subtitle %}
  <h2 class="post-subtitle" itemprop="name headline">{{ page.subtitle }}</h2>
{% endif %}

<div class="ui grid">
  <div class="ui ten wide column text">
    {% if page.meta %}
      <img class="ui fluid image" src="{{ page.meta | prepend: site.baseurl }}" alt="{{ page.title }}">
      <div class="ui hidden divider"></div>
    {% endif %}
    {{ content }}
  </div>
  <div class="ui six wide column">
    {% for image in page.images %}
    <img class="ui top work aligned fluid image" src="{{ image | prepend: "assets/img/work/" |  prepend: site.baseurl }}" alt="{{ page.title }}">
    {% endfor %}
  </div>
</div>
